# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
*.asset

Library/
Temp/
ProjectSettings/

*.DS_Store

*.pidb

*.pidb

*.csproj

*.csproj

*.pidb

Assembly-CSharp-firstpass.pidb

Assembly-CSharp-vs.csproj

Assembly-CSharp.csproj

Assembly-CSharp.pidb

Library/cache/d3/d383fea99cbf549c3894b09d3a8317fc

Library/cache/ba/ba1272b558a364e6887ce0d3b240aedf

Library/cache/87/876a11490ce2946809383342319c7678

Library/guidmapper

Library/previews/87/876a11490ce2946809383342319c7678

Library/cache/81/819e1d8dadb234b048f8bcee4430beab

Library/cache/65/654accc9b95be45aebf3c70600e7e644

Library/cache/49/49f13d3524a2045199187921ebca6947

Library/assetDatabase3

*.mdb

Library/ScriptAssemblies/Assembly-CSharp.dll

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

FutilePrototyper.userprefs

FutilePrototyper.sln

FutilePrototyper-csharp.sln

Library/cache/2b/2b52764b96725428594b15522b5a2f7f
